@using MB.SimTaxi.Mvc.Models.Cars;
@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New Car</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                Driver Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Color)
                </td>
                <td>
                    <span>@car.DriverFirstName</span>
                    <span>@car.DriverLastName</span>
                </td>
                <td>
                    <a class="text-info me-2 text-decoration-none" asp-action="Edit" asp-route-id="@car.Id" title="Edit">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a class="text-successful me-2  text-decoration-none" asp-action="Details" asp-route-id="@car.Id" title="Details">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a class="text-danger text-decoration-none" asp-action="Delete" asp-route-id="@car.Id" title="Delete">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
