@using MB.SimTaxi.Mvc.Models.Cars;
@model IEnumerable<CarTableDetailsViewModel>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New Car</a>
</p>
<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                Driver Name
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => car.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => car.Color)
                </td>
                <td>
                    <span>@car.DriverFirstName</span>
                    <span>@car.DriverLastName</span>
                </td>
                <td>
                    <a class="text-info me-2 text-decoration-none" asp-action="Edit" asp-route-id="@car.Id" title="Edit">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a class="text-successful me-2  text-decoration-none" asp-action="Details" asp-route-id="@car.Id" title="Details">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a class="text-danger text-decoration-none pointer" title="Delete" data-bs-toggle="modal" data-bs-target="#carDeleteModal_@car.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>

                    @* Delete Modal *@
                    <div class="modal fade" id="carDeleteModal_@car.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Car</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>Are you sure you want to delete <span class="text-danger">CarId: @car.Id - @car.Model - @car.PlateNumber</span>?</h3>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" class=" mt-3">
                                        <input type="hidden" name="id" value="@car.Id" />
                                        <a class="btn btn-secondary me-1" asp-action="Index">Cancel</a>
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
