@using MB.SimTaxi.Mvc.Models.Passengers;
@model PassengerViewModel

@{
    ViewData["Title"] = "Passenger Details";
}

<div>
    <h4>Passenger <span class="text-primary">@Model.FullName</span></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.DateOfBirth)*@
            @Model.DateOfBirth.ToLongDateString()
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a class="btn btn-secondary me-2" asp-action="Index">Back to List</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
