@using MB.SimTaxi.Mvc.Models.Bookings;
@model IEnumerable<BookingListViewModel>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New Booking</a>
</p>
<table class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => booking.FromAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.ToAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.PickupTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.Price)
                </td>
                <td>
                    @if (@booking.IsPaid)
                    {
                        <i class="fa-solid fa-circle-check text-success"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-circle-xmark text-danger"></i>
                    }
                </td>
                <td>
                    <a class="text-info me-2 text-decoration-none" asp-action="Edit" asp-route-id="@booking.Id" title="Edit">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a class="text-successful me-2  text-decoration-none" asp-action="Details" asp-route-id="@booking.Id" title="Details">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a class="text-danger text-decoration-none pointer" title="Delete" data-bs-toggle="modal" data-bs-target="#bookingDeleteModal_@booking.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>

                    @* Delete Modal *@
                    <div class="modal fade" id="bookingDeleteModal_@booking.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Booking</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>Are you sure you want to delete <span class="text-danger">Booking from @booking.FromAddress to @booking.ToAddress</span>?</h3>
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete" class=" mt-3">
                                        <input type="hidden" name="id" value="@booking.Id" />
                                        <a class="btn btn-secondary me-1" asp-action="Index">Cancel</a>
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
